{
  "presets":
  [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "react-app"
  ],
  "plugins": ["lodash", "styled-components", "@babel/plugin-proposal-class-properties", "babel-plugin-styled-components"]
}
