{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier", "redux-saga"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2016,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "react/no-will-update-set-state": "off",
    "react/require-default-props": "off",
    "react/self-closing-comp": "off"
  },
  "globals": {
    "google": true
  }
}
