.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.questionsContainer {
  flex: 1;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.nextButton {
  padding: 10px 36px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.nextButton:hover {
  background-color: #0056b3;
}
