@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.btn {
  @apply flex items-center justify-center gap-2;
  @apply px-5 py-3;
  @apply rounded-md;
  @apply text-center;
  @apply h-12;
  @apply flex-1;
}

.btn-primary {
  @apply bg-[#FEE633];
  @apply text-white;
  @apply border-none;
  @apply shadow-md;
  @apply rounded-[8px];
  @apply text-[#363537];
  @apply hover:bg-white;
  @apply hover:shadow-lg;
  @apply hover:outline;
  @apply hover:outline-2;
  @apply hover:outline-yellow-500;
}

/* global.css */
.btn-secondary {
  @apply bg-transparent;
  @apply border border-gray-700;
  @apply rounded-[8px];
  @apply text-[#363537];
  @apply shadow-sm;
  @apply font-inter;
  @apply text-[14px];
  @apply font-semibold;
  @apply leading-[20px];
  @apply hover:bg-white;
  @apply hover:shadow-lg;
  @apply hover:outline;
  @apply hover:outline-2;
  @apply hover:outline-gray-200;
}

.btn-tertiary {
  @apply bg-yellow-300;
  @apply text-gray-800;
  @apply border-none;
  @apply shadow-md;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: PoppinsRegular, sans-serif;
}

/* global.css */
p {
  @apply text-[#363537];
  @apply text-[16px];
  @apply font-medium;
  font-family: "Poppins", sans-serif;
}

/* H1 */
h1 {
  @apply text-4xl;
  @apply font-semibold;
  @apply leading-tight;
  font-family: "Poppins", sans-serif;
}

/* H2 */
h2 {
  @apply text-3xl;
  @apply font-semibold;
  @apply leading-snug;
  font-family: "Poppins", sans-serif;
}

/* H3 */
h3 {
  @apply text-2xl;
  @apply font-semibold;
  @apply leading-snug;
  font-family: "Poppins", sans-serif;
}

/* H4 */
h4 {
  @apply text-xl;
  @apply font-medium;
  @apply leading-relaxed;
  font-family: "Poppins", sans-serif;
}

/* H5 */
h5 {
  @apply text-lg;
  @apply font-medium;
  @apply leading-relaxed;
  font-family: "Poppins", sans-serif;
}

/* H6 */
h6 {
  @apply text-base;
  @apply font-medium;
  @apply leading-relaxed;
  font-family: "Poppins", sans-serif;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget span {
  display: none !important;
}
.goog-te-combo {
    margin: 0px 0;
    padding: 14px 11px;
    border-radius: 8px;
}
.gm-style-iw-chr{
  display: none !important;
}

/* .goog-te-gadget {
  font-size: 0px !important;
} */


.goog-te-combo {
  display: block;
}
iframe.skiptranslate {
  visibility: hidden !important;
}
.goog-logo-link {
  display: none !important;
}
.goog-te-gadget select {
  margin-top: 10px;
  border: 1px solid #CED4DA;
  border-radius: 5px;
  color: black !important;
  padding: 8px;
}
.goog-te-gadget:nth-child(1) {
  color: transparent !important;
  font-size: 0px !important;
}
#google_translate_element span {
  display: none;
}

.filter-tint-gray {
  filter: invert(50%) sepia(5%) saturate(239%) hue-rotate(179deg) brightness(92%) contrast(87%);
}

.filter-tint-white {
  filter: brightness(0) invert(1);
}

.filter-tint-black {
  filter: brightness(0);
}
